@import "tailwindcss";

:root {
  color-scheme: light;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-amu-green: #005f2f;
  --color-amu-gold: #fbc02d;
}

/* Dark mode removed to force light theme */

body {
  background: var(--background) !important;
  color: var(--foreground) !important;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
